<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  <!--begin main template-->
    <div class="container">
      #parse( $template )
    </div>
    <!--end main template-->
  </body>
</html>
