<h1>$doctor.getName()</h1>

<h2>Edit Doctor Name:</h2>
<form action="/doctors/$doctor.getId()" method="post">
<label for="name">Name</label>
<input id="name" name="name" type="text">
<button type="submit" class="btn btn-info">Update Name</button>
</form>

<a href="/">Go Home</a>
